@model DiscussionApp.Models.Post

@{
    ViewData["Title"] = "Details";
}
@{
    
}
<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dislikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dislikes)
            
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-route-Genre="@Model.Genre">Back to List</a>
</div>
